*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}
/* Shared Styles */

.inter{
  font-family: "Inter", sans-serif;
}

.container{
    width: 85%;
    max-width: 1600px;
    margin: 0 auto;
}

.display{
    display: flex;
}
.btn{
    padding: 12.5px 16px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition:  all 0.4s ease;
}
.btn i{
    font-size: 0.9rem;
}
.btn:hover{
    transform: scale(1.1);
    filter: brightness(1.2);
    background: linear-gradient(90deg, #9100F8 0%, #FB09B4 51%, #F7E93F 100%);
    box-shadow: 0px 10px 20px rgba(251, 9, 180, 0.4);
}
.btn-primary{
    border: #00FF88 1px solid;
    border-radius: 20px;
    background-color: transparent;
    color: #00FF88;
    padding: 12.4px 15px;
    margin-left: 8px;
    cursor: pointer;
    transition:  all 0.4s ease;
}

.btn-primary:hover{ 
    border-color: transparent;
    color: #FFFFFF;
    transform: scale(1.1);
    filter: brightness(1.2);
    background: linear-gradient(90deg, #9100F8 0%, #FB09B4 51%, #F7E93F 100%);
    box-shadow: 0px 10px 20px rgba(251, 9, 180, 0.4);
}
/* Header releted Styles */
header{
    background-color: #1A0B2E;
    padding: 20px;
}
.nav-logo{
    font-size: 1.9rem;
    font-weight: 900;
    color: #FFFFFF;
}
.logo-gradient{
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
nav{
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    list-style: none;
    align-items: center;
    gap: 32px;
}
.nav-button {
    display: block;
}
.hamburger{
    display: none;
}
nav .menu a{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

/* banner releted Styles */
.techwave-banner{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 760px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 20px;
    box-sizing: border-box;
}
.banner-image{
    position: relative;
    width: 353px;
    height: 372px;
    margin-bottom: 30px;
}
.banner-image img[src*="hero-circle"]{
    width: 100%;
    display: block;
}
.banner-image img[src*="microphone"]{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
}
.new{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #00FF88;
    color: #1A0B2E;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.4s ease;
}
.new:hover{
    color: #FFFFFF;
    transform: scale(1.1);
    filter: brightness(1.2);
    background: linear-gradient(90deg, #9100F8 0%, #FB09B4 51%, #F7E93F 100%);
    box-shadow: 0px 10px 20px rgba(251, 9, 180, 0.4);
}
.banner-title{
    font-size: 3.4rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 8px;
}
.banner-description{
    font-size: 1rem;
    color: #FFFFFF;
    margin-bottom: 24px;
    opacity: 80%;
}


/* about releted Styles */
#about{
    background-color: #1A0B2E;
}
.about-content{
    padding-top: 50px;
    padding-bottom: 120px;
}
.about-heading{
    text-align: center;
}
.about-title{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.about-description{
    font-size: 1rem;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 80%;
    max-width: 676px;
    margin: 0 auto 24px auto;
}
.about-description2{
    font-size: 1rem;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 80px;
    opacity: 80%;
}
.about-info{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 80px;
    justify-content: space-between;
    text-align: center;
}
.text{
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
}
.about-text{
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 20px;
    opacity: 80%;
}

/* Choose TechWave releted Styles */
#techWave-box{
    background-color: #230E3D;
}
.techwave-title{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 40px;
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
}
.bg-color{
    background-color: #351165;
}
.techWave-boxs{
    padding-bottom: 120px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 260px);
}
.border{
    border-radius: 20px;
}
#side-ber{
    grid-column: span 1;
    grid-row: span 2;
    padding: 107px 67px 0px 40px;
}
#header{
    grid-column: span 2;
    grid-row: span 1;
    padding: 40px 0px 0px 40px;
}
#main{
    grid-column: span 2;
    grid-row: span 1;
    padding: 40px 0px 0px 40px;
}
#footer-ete{
    grid-column: span 2;
    grid-row: span 1;
    padding: 40px 53px 0px 40px;
}
#last{
    grid-column: span 1;
    grid-row: span 1;
    padding: 40px 25px 0px 40px;
}

.techwave-text{
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    margin: 16px 0;
}
.techwave-description{
    font-size: 1rem;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 60%;
    padding-bottom: 40px;
}

/* Featured releted Styles */
#featured{
    background-color: #1A0B2E;
}
.featured-content{
    padding: 120px 0;
}
.featured-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.featured-cards{
    gap: 30px;
    justify-content: space-around;
}
.featured-card{
    width: 380px;
    height: auto;
    background-color: #250D44;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.video{
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}
.video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border: none;
}
.featured-texts{
    padding: 24px;
}
.featured-text{
    font-size: 1.3rem;
    font-weight: 700;
    color: #FFFFFF; 
    padding-right: 20px;
    padding-bottom: 12px;
}
.featured-description{
    font-size: 1rem;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 60%;
    padding-bottom: 12px;
}
.min{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
    color: #00FF88;
}
.min img{
    width: 18px;
    height: 18px;
}

/* Host releted Styles */
#host{
    background-color: #1A0B2E;
    padding-bottom: 120px;
}
.meet-host{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    padding-bottom: 40px;
}
.host-content{
    border-radius: 20px;
    padding: 40px;
    align-items: center;
    gap: 63px;
    margin: 0 auto;
}
.host-texts{
    flex: 1;
}
.host-image img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
}
.host-title{
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
    padding-bottom: 16px;
}
.host-description{
    font-size: 1rem;
    color: #FFFFFF;
    padding-right: 40px;
    opacity: 60%;
    line-height: 24px;
    padding-bottom: 16px;
}
.icons{
    gap: 15px;
}
.circle{
    width: 45px;
    height: 45px;
    border: 1px solid #533C72;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
}
.circle img{
    width: 20px;
    height: auto;
}

/* footer releted Styles */

#footer{
    background-image: url(./assets/footer-bg.png);
    background-size: 500 auto;
    background-position: center bottom;
    padding: 100px 20px 60px;
    height: 412px;
    flex-direction: column;
    padding-top: 111px;
    align-items: center;
    text-align: center;
}
.footer-logo{
    margin-bottom: 20px;
}
.logot{
    font-size: 4rem;
    font-weight: 900;
    color: #FFFFFF;
}
.logo-gradient{
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.social-medias{
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.social-medias a{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    opacity: 60%;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}
.copyright{
    margin-top: 32px;
    font-size: 1rem;
    color: #FFFFFF;
    opacity: 60%;
    line-height: 24px;
}


/* mobile device responsive */
@media screen and (max-width: 576px) {
    .container{
        width: 85%;
    }
    nav{
        height: 70px;
    }
    nav .menu,
    .nav-button{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .hamburger i{
        color: #FFFFFF;
        width: 40px;
        height: auto;
    }

    .techwave-banner {
    height: auto;
    padding: 40px 15px;
    }
    .banner-image{
        width: 250px;
        height: 250px;
        margin-bottom: 20px;
    }
    .banner-image img[src*="microphone"]{
        width: 50px;
    }
    .new{
        font-size: 0.9rem;
        padding: 4px 12px;
        top: 10px;
        right: 10px;
    }
    .banner-title{
        font-size: 2.5rem;
    }
    .banner-description{
        font-size: 0.9rem;
        margin-bottom: 30px;
        padding: 0 10px;
    }

    .about-content {
    padding-top: 50px;
    padding-bottom: 0;
}
        .about-title{
    font-size: 2.5rem;

   }
  .about-description{
    font-size: 1rem;
    margin-bottom: 15px;
  }
.about-description2{
    font-size: 0.9rem;
    margin-bottom: 37px;
   }
  .about-info{
    padding-top: 63px;
  grid-template-columns: repeat(2, 1fr);
  }
  .text{
    font-size: 2.5rem;
   }
   .about-text{
    font-size: 0.9rem;
  }
  .info-card{
    margin-bottom: 63px;
  }

  .techwave-title{
    font-size: 2rem;
    padding-top: 60px;
    padding-bottom: 30px;
}
.techWave-boxs{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
    padding-bottom: 60px;
}
.border{
    border-radius: 20px;
}

#side-ber,
#header,
#main,
#footer-ete,
#last{
    grid-column: span 1;
    grid-row: span 1;
    padding: 30px;
    height: auto;
    text-align: left;
}
.techWave-boxs img{
    width: 50px;
    height: auto;
}
.techwave-text{
    font-size: 1.3rem;
    margin: 12px 0;
}
.techwave-description{
        font-size: 0.95rem;
        line-height: 22px;
        padding-bottom: 0;
    }

        #featured{
    background-color: #1A0B2E;
}
.featured-content{
    padding: 60px 0;
}
.featured-title{
    font-size: 2.2rem;
    margin-bottom: 30px;
}
.featured-cards{
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.featured-card{
    width: 100%;
    max-width: 100%;
    height: auto;
}

.featured-texts{
    padding: 20px;
}
.featured-text{
    font-size: 1.32rem;
    padding-right: 0px;
}
.featured-description{
    font-size: 0.95rem;
    line-height: 22px;
}
#host{
    padding-bottom: 60px;
}
.meet-host{
    padding-top: 30px;
    font-size: 2.2rem;
    padding-bottom: 30px;
}
.host-content{
    flex-direction: column;
    text-align: center;
    gap: 30px;
    padding: 30px 20px;
}
.host-image img{
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.host-title{
    font-size: 1.8rem;
}
.host-descrioption{
    padding-right: 0;
    line-height: 22px;
    font-size: 0.95rem;
}
.icons{
    justify-content: center;
    gap: 10px;
}

#footer{
    height: auto;
    background-size: 100%;
    background-position: center 135px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px 40px;
    background-color: #1a0b3c;
    position: relative;
}
.footer-logo{
    margin-bottom: 20px;
}
.logot{
    font-size: 2.5rem;
}
.social-medias{
    flex-wrap: wrap;
    gap: 14px;
    justify-content: center;
    margin-top: 20px;
}
.social-medias a{
    font-size: 0.9rem;
    flex-basis: auto;
}
.copyright{
    margin-top: 40px;
    font-size: 0.85rem;
    padding: 0 10px;
}
}